.profile {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  overflow: hidden;
}
.avatar {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.description {
  text-align: center;
  margin: 20px 0;
}
.name {
  margin: 20px 0 0 0;
  font-size: 18px;
}
.tag,
.location {
  margin: 10px 0 0 0;
  font-size: 16px;
  color: #7f8792;
}

.stats {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f4f9fe;
  border-top: 1px solid #dcdcdc;
}
.stats_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}
.stats_item:not(:last-child) {
  border-right: 1px solid rgb(220, 220, 220);
}
.label {
  color: #7f8792;
  margin-bottom: 5px;
}
